version: "3.9"

services:
  backend:
    build: .
    container_name: backend-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=4000
      - MONGO_URL=mongodb://mongo:27017/backend_db
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis
    restart: always

  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongo_data:
